@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

:fullscreen::backdrop {
    background: none !important;
    overflow: visible;
}

:fullscreen::before & :fullscreen::after {
    overflow: visible;
    overflow: visible;
}

:fullscreen #rootContainer {
    overflow: auto !important;
}

:fullscreen body {
    overflow: auto !important;
}

:fullscreen {
    height: auto !important;
    overflow: auto !important;
}

/* Home */
.home .box {
    @apply rounded-lg xl:rounded-2xl overflow-visible border-2 border-base-300 dark:border-slate-700 p-4 xl:p-4 2xl:p-6
}
